<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description" />
    <meta name="author" content="Your name" />

    <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
    <meta property="og:site_name" content="" />
    <!-- website name -->
    <meta property="og:site" content="" />
    <!-- website link -->
    <meta property="og:title" content="" />
    <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" />
    <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" />
    <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" />
    <!-- where do you want your post to link to -->
    <meta name="twitter:card" content="summary_large_image" />
    <!-- to have large image post format in Twitter -->

    <!-- Webpage Title -->
    <title>Contact Us</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
    <link
      href="{{url_for('static',filename='css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/fontawesome-all.min.css')}}"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/all.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Favicon  -->
    <link rel="icon" href="{{url_for('static',filename='img/logoi.png')}}" />
  </head>
  <body>
    <!-- Navigation -->
    <nav
      id="navbarExample"
      class="navbar navbar-expand-lg fixed-top navbar-light"
      aria-label="Main navigation"
    >
      <div class="container">
        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="/"
          ><img
            src="{{url_for('static',filename='img/logoi2.png')}}"
            alt="alternative"
        /></a>
        <li class="nav-item" style="list-style-type: none">
          <h2 class="nav-item" aria-current="page" style="color: #000080">
            InnoHub
          </h2>
        </li>
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text" href="index.html">Nubis</a> -->

        <button
          class="navbar-toggler p-0 border-0"
          type="button"
          id="navbarSideCollapse"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse offcanvas-collapse"
          id="navbarsExampleDefault"
        >
          <ul class="navbar-nav ms-auto navbar-nav-scroll">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/recent"
                >Recent Ideas</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_profile">MyProfile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
          <!--- <span class="nav-item">
                  <a class="btn-solid-sm" href="#contact">Get quote</a>
              </span>-->
        </div>
        <!-- end of navbar-collapse -->
      </div>
      <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->

    <div id="contact" class="form-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-container">
              <div class="section-title"></div>
              <h2>Contact Us</h2>
              <p>Please feel free to reach out to us in case of any queries.</p>
              <ul class="list-unstyled li-space-lg">
                <li class="d-flex">
                  <i class="fas fa-square"></i>
                  <div class="flex-grow-1">
                    You can submit your feedback too which will help us to
                    improve.
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-square"></i>
                  <div class="flex-grow-1">
                    Submit the form after typing in the message.
                  </div>
                </li>
              </ul>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6">
            <!-- Contact Form -->
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control-input"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control-input"
                  placeholder="Email"
                  required
                />
              </div>

              <div class="form-group">
                <input
                  type="text"
                  class="form-control-input"
                  placeholder="Your message"
                  required
                />
              </div>
              <div class="form-group">
                <button
                  type="button"
                  class="form-control-submit-button"
                  onclick="window.location.href='/home'"
                >
                  Submit
                </button>
              </div>
            </form>
            <!-- end of contact form -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of form-1 -->
    <!-- end of contact -->

    <!-- Copyright -->

    <!-- end of copyright -->

    <!-- Back To Top Button -->
    <button onclick="topFunction()" id="myBtn">
      <img
        src="{{url_for('static',filename='img/up-arrow.png')}}"
        alt="alternative"
      />
    </button>
    <!-- end of back to top button -->

    <!-- Scripts -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <!-- Bootstrap framework -->
    <script src="{{url_for('static',filename='js/swiper.min.js')}}"></script>
    <!-- Swiper for image and text sliders -->
    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    <!-- Custom scripts -->
    <div class="footer-basic">
      <footer>
        <ul class="list-inline">
          <hr />
          <li class="list-inline-item">
            <a href="/contact-us">Contact Us</a>
          </li>
          <li class="list-inline-item">
            <a href="/faq">FAQs</a>
          </li>
          <li class="list-inline-item text-muted">Made By © Squad 0</li>
        </ul>
        <br />
      </footer>
    </div>
  </body>
</html>
