<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InnoHub</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <script
      type="text/javascript"
      src="{{url_for('static',filename='js/script2.js')}}"
      defer
    ></script>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style2.css')}}"
    />
  </head>

  <body class="vh-100" style="background-color: #9a616d">
    <span style="position: absolute; right: 5px; top: 5px; display: block"
      ><a
        href="/"
        class="btn btn-lg border"
        style="font-size: x-large; font-weight: bolder"
        >X</a
      ></span
    >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-12">
          <div class="card mb-lg-5" style="border-radius: 1rem">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <img
                  src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/img1.jpg"
                  alt="login form"
                  class="img-fluid"
                  style="border-radius: 1rem 0 0 1rem; height: 100%"
                />
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center">
                <div class="card-body p-4 p-lg-4 text-black">
                  <form action="#" method="POST" class="form">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold mb-0">InnoHub</span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Create your new account
                    </h5>

                    <div class="form-outline mb-4 field fname">
                      <input
                        type="text"
                        id="form2Example17"
                        name="fname"
                        class="form-control"
                        placeholder="First Name"
                        required
                      />

                      <div class="error error-txt">
                        Name must only contain characters
                      </div>
                    </div>

                    <div class="form-outline mb-4 field lname">
                      <input
                        type="text"
                        id="form2Example17"
                        name="lname"
                        class="form-control"
                        placeholder="Last Name"
                        required
                      />

                      <div class="error error-txt">
                        Name must only contain characters
                      </div>
                    </div>

                    <div class="form-outline mb-4 field phone">
                      <input
                        type="number"
                        id="form2Example17"
                        name="phone"
                        class="form-control"
                        placeholder="Phone number"
                        required
                      />

                      <div class="error error-txt">
                        Phone number can't be blank
                      </div>
                    </div>
                    <div class="form-outline mb-4 field email">
                      <input
                        type="email"
                        id="form2Example17"
                        name="email"
                        class="form-control"
                        placeholder="Email address"
                        required
                      />

                      <div class="error error-txt">Email can't be blank</div>
                    </div>

                    <div class="form-outline mb-4 field dept">
                      <input
                        type="text"
                        id="form2Example17"
                        name="department"
                        class="form-control"
                        placeholder="Department"
                        required
                      />

                      <div class="error error-txt">
                        Department can't be blank
                      </div>
                    </div>

                    <div class="form-outline mb-4 field gender">
                      <select
                        name="gender"
                        id="form2Example17"
                        class="form-control"
                        required
                      >
                        <option value="Gender" selected disabled>
                          Select Your Gender
                        </option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                      </select>

                      <div class="error error-txt">Gender can't be blank</div>
                    </div>

                    <div class="form-outline mb-4 field password">
                      <input
                        type="password"
                        id="form2Example27"
                        name="password"
                        class="form-control"
                        placeholder="Password"
                        required
                      />

                      <div class="error error-txt">Weak password</div>
                    </div>

                    <div class="form-outline mb-4 field password2">
                      <input
                        type="password"
                        id="form2Example27"
                        name="password"
                        class="form-control"
                        placeholder="Re-enter your Password"
                        required
                      />

                      <div class="error error-txt">Password don't match</div>
                    </div>

                    <div class="pt-1 mb-4">
                      <input
                        type="submit"
                        class="btn btn-dark form-control form-control-lg"
                        value="Register"
                      />
                    </div>

                    <p class="mb-1" style="color: #393f81">
                      Already have an account?
                      <a href="/login" style="color: #393f81">Login here</a>
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
